@import 'root.css';

.bg-blue-primary{

    background-color: var(--blue-primary);

}

.bg-blue-light{

    background-color: var(--blue-light);

}

.bg-blue-aqua{

    background-color: var(--blue-aqua);

}

.bg-blue-secondary{

    background-color: var(--blue-secondary);

}

.bg-main-white{

    background-color: var(--white-main-div-background);

}

.bg-img-blue-boat{

    background: linear-gradient(344.41deg, rgba(118, 97, 247, 0.7) -13.39%, rgba(128, 240, 255, 0.7) 124.74%), #3A58E0;
    color: white;

}

.bg-aqua{

    background-color: var(--blue-aqua);
    color: white;

}