body{

    background-color: #A7BAFE;
    /*font-family: Roboto;*/
    
}

body::-webkit-scrollbar{

    background-color: transparent;
    width: 8px;

}

body::-webkit-scrollbar-thumb{

    background-color: var(--blue-primary);

}

ul{

    list-style: none;
    padding-left: 0;

}

ul li{

    margin-top: .5rem;
    margin-bottom: .5rem;

}

.toggle-container{

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 18px;
    transition-duration: 500ms;

}

.show{

    opacity: 1;
    max-height: 400px;
    margin-top: 1.25rem;

}

a:hover{

    text-decoration: underline;

}

#header a{

    color: white;

}