@import 'root.css';

.btn:hover{

    transform: scale(1.1);

}

.btn-aqua{

    background-color: var(--blue-aqua);
    color: black;

}

.btn-blue-ig{

    background-color: var(--blue-ig);
    color: white;

}