@import 'root.css';

.navbar .btn:hover{

    transform: scale(1.1);

}

.dropdown button {

    transform: scale(1) !important;

}

button:hover{

    cursor: pointer;

}

.btn-aqua{

    background-color: var(--blue-aqua);
    color: black;

}

.btn-blue-ig{

    background-color: var(--blue-ig);
    color: white;

}

.btn-gray {

    background-color: var(--gray-primary);
    color: white;

}