.form-control{

    height: 50px;
    color: var(--gray-primary) !important;

}

.form-control::-webkit-input-placeholder {

    color: var(--gray-primary);

}

select{

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px !important;

}

select:hover{

    cursor: pointer;

}

.select-container i{

    position: absolute;
    right: 30px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    transition: all 0.25s ease;

}

.select-container:hover i{

    margin-top: 3px;

}

.container-file{

    display: inline-block;
    position: relative;

}

.container-file::before{
    
    cursor: pointer !important;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    content: 'Selecciona una imagen';
    position: absolute;
    left: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: .375rem .75rem;

}

.container-file:hover::before{

    cursor: pointer !important;
    text-decoration: underline;

}

.container-file input[type="file"]{

    cursor: pointer !important;
    opacity: 0;
    width: 200px;
    display: inline-block;

}
