@media (max-width: 375px){

    .btn .px-5{

        padding-left: 0px !important;
        padding-right: 0px !important;

    }

}

@media (max-width: 1024px){

    .pay1, .pay2, .pay3{

        font-size: 12px;

    }

    .steps-numbers{

        display: flex !important;

    }

}

@media (max-width: 1200px){

    #steps-mobile{

        display: flex !important;

    }

    #steps-desktop{

        display: none !important;

    }

}