@media (max-width: 375px){

    .btn .px-5{

        padding-left: 0px !important;
        padding-right: 0px !important;

    }

}

@media (max-width: 1024px){

    .pay1, .pay2, .pay3{

        font-size: 12px;

    }

    .steps-numbers{

        display: flex !important;

    }

}

@media (max-width: 1200px){

    #steps-mobile{

        display: block !important;
        overflow-x: hidden !important;

    }

    #steps-mobile .steps {

        display: flex;
        padding: 0 !important;
        overflow-x: auto !important;
        width: 253% !important;

        animation: scrollSteps 10s infinite linear;

    }

    #steps-mobile .steps div:first-of-type{

        box-shadow: none !important;

    }

    .step-div{

        width: calc(50% - 8px) !important;

    }

    #steps-desktop{

        display: none !important;

    }
    .pay1 {

        left: 33% !important;

    }

    .pay2{

        left: 53% !important;

    }

    .pay3{

        left: 74% !important;
        right: auto !important;

    }

}

@media (max-width: 425px){

    #steps-mobile .steps {

        width: 500% !important;

    }

    .step-div{

        width: calc(102% - 8px) !important;

    }

    .pay1, .pay2, .pay3{

        animation: none !important;

    }

    .pay1 {

        left: 33% !important;

    }

    .pay2{

        left: 53% !important;

    }

    .pay3{

        left: 73.5% !important;
        right: auto !important;

    }

}

@media (max-width: 435px){

    #figureTop, #figureBottom {

        width: 120px !important;

    }

}

@media (max-width: 768px){

    #figureTop, #figureBottom {

        width: 200px;

    }

}

@media (max-width: 767px){

    #figureTop, #figureBottom {

        width: 150px;

    }

}