#mobileMenu{

    background-color: rgb(0, 0, 0, .4);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    transition-duration: 500ms;
    width: 100%;
    z-index: 10000;

}

#mobileMenu > div:first-child{

    height: 100%;

}

.show-menu{

    left: 0 !important;

}

.nav-link{

    color: var(--blue-primary);

}

.nav-link:active, .nav-link:focus, .show > .btn-primary .dropdown-toggle:active{

    color: var(--blue-primary) !important;

}
