:root{

    --blue-primary: #00174A;
    --blue-light: #345BDC;
    --blue-aqua: #5BEBFF;
    --blue-secondary: #345BDC;
    --blue-steps: #223360;
    --blue-steps-names: #6172AD;
    --purple-primary: #64569F;
    --gray-primary: #5A7184;
    --white-main-div-background: #F5F6FA;
    --navbar-text-color: #3B3764;

    --border-radius: 15px;

}