:root{

    --blue-primary: rgb(0, 23, 74);
    --blue-light: #345BDC;
    --blue-aqua: #5BEBFF;
    --blue-secondary: rgb(52, 91, 220);
    --blue-steps: #223360;
    --blue-steps-names: #6172AD;
    --blue-ig: #345BDC;
    --purple-primary: #64569F;
    --gray-primary: #5A7184;
    --white-main-div-background: #F5F6FA;
    --navbar-text-color: #3B3764;

    --border-radius: 15px;
    --border-radius-soft: 8px;

}